*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', Calibri, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(73,13,151);
    color: whitesmoke;
    padding-block: 8px;
}

nav {
    display: flex;
    gap: 21px;
}

nav a{
    text-decoration: none;
    border: 1px solid black;
    padding: 3px 6px;
    background-color: white;
    color: black;
}